<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <title>Monster Killer</title>
</head>

<body>
  <div id="app">
    <div class="panel scores">
      <div class="score">
        <h1>Player</h1>
        <div class="life-bar">
          <div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife + '%'}"></div>
        </div>

        <div>{{playerLife}}%</div>
      </div>

      <div class="score">
        <h1>Monster</h1>
        <div class="life-bar">
          <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}"></div>
        </div>
        <div>{{monsterLife}}%</div>
      </div>


    </div>
    <div v-if="hasResult" class="panel result">
      <div v-if="monsterLife===0" class="win">Ganhei porra</div>
      <div v-else class="lose">Perdi porra</div>

    </div>
    <div class="panel buttons">

      <button class="btn attack">Ataque</button>
      <button class="btn especial-attack">Ataque Especial</button>
      <button class="btn heal">Curar</button>
      <button class="btn give-up">Desistir</button>
      <button class="btn new-game">Iniciar Jogo</button>
    </div>
    <div class="panel logs"></div>
  </div>

  <script src="app.js"></script>
</body>

</html>